.subtitleContainer {
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  cursor: text !important;
  touch-action: manipulation !important;
}

.selectionMode {
  background-color: rgba(137, 218, 211, 0.205) !important;
  transition: background-color 0.3s ease;
}

.subtitleText {
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  cursor: text !important;
  -webkit-touch-callout: default !important;
}